* {
  /* border: 1px solid black; */
  /* box-sizing: content-box; */
}

:root {
  font-family: sans-serif;
  font-size: 3vw;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  touch-action: none;
}

.main {
  display: flex;
  position: relative;
  width: 95%;
  height: 95%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0);
  box-shadow: 0 0 30px inset white;
  transition: opacity 0.5s ease-in;
  z-index: 3;
}


.word-apple {
  animation: pulse 0.5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.countables {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countables-grid {
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
}

.control {
  position: relative;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation button {
  overflow: hidden;
  padding: 0;
}

.navigation svg {
  height: 100%;
  max-width: 100%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  max-width: 90%;
  border-radius: 40%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
}

.spacer {
  background-color: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  will-change: transform;
}



.apple img {
  display: block;
  width: auto;
  height: auto;
  filter: hue-rotate(0deg);
  pointer-events: none;
  user-select: none;
  user-drag: none;
}

.number {
  align-self: center;
  user-select: none;
}

.word-apple-leaf {
  transform-box: fill-box;
  transform-origin: right center;
  will-change: transform;
  --rotation: 0deg;
}

.leaf-P1 {
  transform-box: fill-box;
  transform-origin: right center;
  transform: rotateZ(70deg);
}

.leaf-P2 {
  transform: rotateZ(120deg);
}

.leaf-V {
  transform: rotateZ(35deg);
}


.leaf-N {
  transform: rotateZ(45deg);
}

.leaf-T1 {
  transform: rotateZ(100deg);
}

.leaf-T2 {
  transform: rotateZ(145deg);
}

.update {
  display:flex;
  justify-content: center;
  position:fixed;
  bottom: 0;
  width:30rem;
  height:6rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow:hidden;
  will-change: transform;
  transition: transform 0.5s ease-out;
  z-index:4;
}

.update-content {
  margin: 0rem;
  color: white;
  font-size: 1.15rem;
  max-width: 20rem;
  text-align: center;
}

.update-content .button-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.update-content button {
  border:1px solid #3498DB;
  font-size: 1.15rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #3498DB;
  background: none;
  padding: 0px 15px 0px 15px;
  user-select: none;
  transition: border-color 0.1s ease-in, color 0.1s ease-in;
}

.update-content button:hover {
  border-color: #f3f3f3;
  color: #f3f3f3;
  transform: translateY(0.1vh);
}

.hide {
  opacity: 0;
}

.nodisplay {
  display: none;
}

.dismiss-down {
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.dismiss-zoomout {
  transform: scale(8);
  opacity: 0;
}

@keyframes pulse {
  from {opacity: 0;}
  to {opacity: 1;}
}

.wiggle {
  animation: wiggle-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes wiggle-anim {
  0% {transform: rotateZ(0deg);}
  25%{transform: rotateZ(10deg);}
  75% {transform: rotateZ(-10deg);}
  100% {transform: rotateZ(0deg);}
}


@media (orientation: landscape) {
  .main {
    flex-direction: row;
  }

  .countables {
    width: 70%;
  }

  .apple img {
    max-width: 100%;
    max-height: 100%;
  }

  .control {
    width: 30%;
  }

  .countables-grid {
    height: 80vh;
    width: 80vh;
  }

  .control {
    flex-direction: column;
  }

  .navigation {
    height: calc(100% - 50vh);
  }



  .number {
    height: 50vh;
    font-size: 50vh;
    line-height: 51vh;
  }

  .number-long {
    font-size: 30vh;
  }

  .loading svg {
    max-width: 30vw;
  }
}



@media (orientation: landscape) and (min-aspect-ratio: 2/1) {
  .countables-grid {
    height: 95%;
    width: 100vh;
    /* max-height: 100%; */
  }

  .cell {
    max-width: 80%;
  }

  .number-long {
    font-size: 40vh;
  }

}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
    height: 100%;
  }

  .countables {
    height: 70%;
    order: 2;
  }

  .control {
    flex-direction: column;
    justify-content: center;
    height: 30%;
    /* min-height: 10rem; */
    order: 1;
  }

  .countables-grid {
    max-width: 90vw;
  }

  .apple img {
    width: 100%;
    height: 100%;
  }

  .number {
    order: 2;
    font-size: 25vh;
    line-height: 25vh;
    height: 70%;
  }

  .number-long {
    font-size: 25vh;
    line-height: 25vh;
  }

  .navigation {
    height: 30%;
  }

  .navigation button {
    width: 30%;
  }

  .navigation svg {
      max-width: 90%;
      height: auto;
  }

  .prev {
    order: 1;
  }

  .next {
    order: 2;
  }

  .loading svg {
    max-width: 60vw;
  }


}

@media (orientation: portrait) and (max-aspect-ratio: 1/2) {


}
