* {
  /* border: 1px solid black; */
  /* box-sizing: content-box; */
}

@font-face {
	font-family: oldMac;
	src: url(ChicagoFLF.ttf);
}

:root {
  font-family: sans-serif;
  font-size: 3vw;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  /* touch-action: none; */
}

.main {
  display: flex;
  position: relative;
  width: 95%;
  height: 95%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0);
  box-shadow: 0 0 30px inset white;
  transition: opacity 0.5s ease-in;
  z-index: 3;
}


.word-apple {
  animation: pulse 0.5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.countables {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countables-grid {
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
}

.control {
  position: relative;
  display: flex;
  justify-content: center;
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.option-buttons {
  display: flex;
	justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.navigation button {
  overflow: hidden;
  padding: 0;
}

.option-button {
}

.option-button svg {
  height: 100%;
  width: 100%;
}

.navigation svg {
  height: 100%;
  width: 100%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  max-width: 90%;
  border-radius: 40%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
}

.spacer {
  background-color: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  will-change: transform;
}



.apple img {
  display: block;
  width: auto;
  height: auto;
  filter: hue-rotate(0deg);
  pointer-events: none;
  user-select: none;
  user-drag: none;
}

.number {
  align-self: center;
  user-select: none;
}

.word-apple-leaf {
  transform-box: fill-box;
  transform-origin: right center;
  will-change: transform;
  --rotation: 0deg;
}

.leaf-P1 {
  transform-box: fill-box;
  transform-origin: right center;
  transform: rotateZ(70deg);
}

.leaf-P2 {
  transform: rotateZ(120deg);
}

.leaf-V {
  transform: rotateZ(35deg);
}


.leaf-N {
  transform: rotateZ(45deg);
}

.leaf-T1 {
  transform: rotateZ(100deg);
}

.leaf-T2 {
  transform: rotateZ(145deg);
}

.update {
  display:flex;
  justify-content: center;
  position:fixed;
  bottom: 0;
  width:30rem;
  height:6rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow:hidden;
  will-change: transform;
  transition: transform 0.5s ease-out;
  z-index:4;
}

.update-content {
  margin: 0rem;
  color: white;
  font-size: 1.15rem;
  max-width: 20rem;
  text-align: center;
}

.update-content .button-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.update-content button {
  border:1px solid #3498DB;
  font-size: 1.15rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #3498DB;
  background: none;
  padding: 0px 15px 0px 15px;
  user-select: none;
  transition: border-color 0.1s ease-in, color 0.1s ease-in;
}

.update-content button:hover {
  border-color: #f3f3f3;
  color: #f3f3f3;
  transform: translateY(0.1vh);
}

.options-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.options-window {
  position: fixed;
  height: calc(100% - 10vh);
  width: calc(100% - 10vh);
  background: white;
  border: 1px solid black;
  transition: transform 0.1s ease-in;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
	font-size: 9pt;
	font-family: 'Helvetica';
	word-wrap: break-word;
	text-align:justify;
}

.options-window-content button {
	font-size: 14pt;
	font-family: oldMac;
	border: 1px solid black;
	width: 70pt;
	border-radius: 5pt;
}

span.countlimit {
	font-size: 14pt;
	font-family: oldMac;
}

.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14pt;
  height: 1.5em;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
}

.titlebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1vw);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  background-image: linear-gradient(0deg, #ffffff 16.67%, #000000 16.67%, #000000 33.33%, #fff 33.33%, #fff 50%, #ffffff 50%, #ffffff 66.67%, #000000 66.67%, #000000 83.33%, #fff 83.33%, #fff 100%);
  background-size: 100% 50%;
  font-family: oldMac;

}

.titlebar span, .titlebar .closebox-container {
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
}

.titlebar .closebox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2%;
  height: 1em;
  width: 1em;
  /* border: 2px solid white; */
  background-color: white;

}

.titlebar .closebox {
  height: 1em;
  width: 1em;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}


.logo-shadow {
  filter: grayscale(100%);
}

.logo svg {
	width: 100%;
	height: 100%;
}

.hide {
  opacity: 0;
}

.nodisplay {
  display: none;
}

.blurry {
  filter: blur(3px);
}

.zoom-from-corner {
  transform: scale(0);
  transition: transform 0.1s ease-in;
}

.dismiss-down {
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.dismiss-zoomout {
  transform: scale(8);
  opacity: 0;
}

@keyframes pulse {
  from {opacity: 0;}
  to {opacity: 1;}
}

.wiggle {
  animation: wiggle-anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes wiggle-anim {
  0% {transform: rotateZ(0deg);}
  25%{transform: rotateZ(10deg);}
  75% {transform: rotateZ(-10deg);}
  100% {transform: rotateZ(0deg);}
}


@media (orientation: landscape) {
  .main {
    flex-direction: row;
  }

  .countables {
    width: 70%;
  }

  .apple img {
    max-width: 100%;
    max-height: 100%;
  }

  .control {
    width: 30%;
  }

  .countables-grid {
    height: 80vh;
    width: 80vh;
  }

  .control {
    flex-direction: column;
  }

  .navigation {
    height: 80%;
  }

  .option-buttons {
    height: 20%;
  }

  .option-button {
    height: 10vh;
    width: 10vh;
  }

  .number {
    height: 50vh;
    font-size: 50vh;
    line-height: 51vh;
  }

  .number-long {
    font-size: 30vh;
  }

  .loading svg {
    max-width: 30vw;
  }

  .options-window {
		flex-direction: row;
    height: calc(100% - 15vh);
    width: calc(100% - 15vh);
		transform-origin: bottom right;
  }

	.options-window .credits {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		position: relative;
		width: 100%;
		height: 30%;
		border: 1px solid grey;
		padding-bottom: 5px;
	}

	.options-window .logo {
		padding: 1vh;
		height: 90%;
	}


	.options-window .about {
		width: 50%;
	}

	.options-window-content {
		height: calc(100% - 1.5*14pt);
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}



	.options-window .applecolour .apple {
		height: 50%;
		width: fit-content;
	}



	.options-window .section-control {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		width: 100%;
		height: calc(100% - 1.5em);
	}

	.options-window .applecolour-slider {
		height: 100%;
		width: 70%;
	}

	.settings-section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 35%;
		width: 50%;
		border: 1px solid grey;
		box-sizing: border-box;
	}

	.section-title {
		height: 1em;
	}

	.radio-option {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-align: center;
	}

	.option-image {
		display: none;
	}

	.zoom-from-corner {
		 transform-origin: bottom right;
	}
}



@media (orientation: landscape) and (min-aspect-ratio: 2/1) {
  .countables-grid {
    height: 95%;
    width: 100vh;
    /* max-height: 100%; */
  }

  .cell {
    max-width: 80%;
  }

  .number-long {
    font-size: 40vh;
  }

}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
    height: 100%;
  }

  .countables {
    height: 60%;
    order: 2;
  }

  .control {
    flex-direction: column;
    justify-content: center;
    height: 40%;
    /* min-height: 10rem; */
    order: 1;
  }

  .countables-grid {
    max-width: 90vw;
  }

  .apple img {
    width: 100%;
    height: 100%;
  }

  .number {
    order: 2;
    font-size: 25vh;
    line-height: 25vh;
    height: 70%;
  }

  .number-long {
    font-size: 25vh;
    line-height: 25vh;
  }

  .buttons {
    height: 100%;
  }

  .navigation {
    order: 2;
    height: 60%;
  }

  .option-buttons {
    order: 1;
    height: 8vh;
  }

  .option-button {
    height: 8vh;
    width: 8vh;
  }


  .navigation button {
    height: 8vh;
  }


  .prev {
    order: 1;
  }

  .next {
    order: 2;
  }

  .loading svg {
    max-width: 60vw;
  }

	.options-window {
    height: calc(90vh - 10vw);
    width: calc(100% - 10vw);
		transform-origin: top right;
  }

	.options-window .credits {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 40%;
		border: 1px solid grey;
		padding-bottom: 5px;
	}

	.options-window .logo {
		width: 70%;
		max-width: 28vh;
		max-height: 20vh;
		padding-top: 1vh;
	}

	.options-window-content {
		height: calc(100% - 1.5*14pt);
		position: relative;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}

	.options-window .settings {
		height: 60%;
	}

	.options-window .about {
		width: 90%;
	}


	.options-window .applecolour .apple {
		width: 15%;
    height: auto;
	}



	.options-window .section-control {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		width: 100%;
		height: calc(100% - 1.5em);
	}

	.options-window .applecolour-slider {
		height: 100%;
		width: 70%;
	}

	.settings-section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
		height: 15%;
		border: 1px solid grey;
		box-sizing: border-box;
	}

	.section-title {
		height: 1em;
	}

	.radio-option {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100%;
	}


	.option-image {
		display: none;
		font-size: 3.4vh;
	}

	.zoom-from-corner {
		 transform-origin: top right;
	}
}

@media (orientation: portrait) and (max-aspect-ratio: 1/2) {

}
