* {
  /* border: 1px solid black; */
  /* box-sizing: content-box; */
}

:root {
  font-family: sans-serif;
  font-size: 3vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  touch-action: none;
}

.main {
  display: flex;
  position: relative;
  width: 95%;
  height: 95%;
}

.countables {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countables-grid {
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
}

.control {
  position: relative;
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  max-width: 90%;
  border-radius: 40%;
  overflow: hidden;
  transition: transform 0.1s ease-out;
}

.spacer {
  background-color: deepPink;
  width: 100%;
  height: 100%;
}

.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}



.apple img {
  display: block;
  width: auto;
  height: auto;
  filter: hue-rotate(0deg);
  pointer-events: none;
  user-select: none;
  user-drag: none;
}

.number {
  align-self: center;
  user-select: none;
}



.update {
  display:flex;
  justify-content: center;
  position:fixed;
  bottom: 0;
  z-index:3;
  width:30rem;
  height:6rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  overflow:hidden;
  will-change: transform;
  transition: transform 1s ease-out;
}

.update-content {
  margin: 0rem;
  color: white;
  font-size: 1.15rem;
  max-width: 20rem;
  text-align: center;
}

.update-content .button-container {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.update-content button {
  border:1px solid #3498DB;
  font-size: 1.15rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #3498DB;
  background: none;
  padding: 0px 15px 0px 15px;
  user-select: none;
  transition: border-color 0.2s ease-in, color 0.1s ease-in;
}

.update-content button:hover {
  border-color: #f3f3f3;
  color: #f3f3f3;
  transform: translateY(0.1vh);
}

.hide {
  opacity: 0;
}

.nodisplay {
  display: none;
}

.dismiss-down {
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.dismiss-zoomout {
  transform: scale(8);
  opacity: 0;
}


@media (orientation: landscape) {
  .main {
    flex-direction: row;
  }

  .countables {
    width: 70%;
  }

  .apple img {
    max-width: 100%;
    max-height: 100%;
  }

  .control {
    width: 30%;
  }

  .countables-grid {
    height: 80vh;
    width: 80vh;
  }

  .control {
    flex-direction: column;
  }

  .number {
    height: 50vh;
    font-size: 50vh;
  }

  .number-long {
    font-size: 40vh;
  }
}



@media (orientation: landscape) and (min-aspect-ratio: 2/1) {
  .countables-grid {
    height: 95%;
    width: 100vh;
    /* max-height: 100%; */
  }

  .cell {
    max-width: 80%;
  }
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }

  .countables {
    height: 70%;
    order: 2;
  }

  .control {
    flex-direction: row;
    justify-content: center;
    height: 30%;
    /* min-height: 10rem; */
    order: 1;
  }

  .countables-grid {
    max-width: 75vw;
  }

  .apple img {
    width: 100%;
    height: 100%;
  }

  .number {
    order: 2;
    font-size: 40vw;
  }

  .number-long {
    font-size: 40vw;
  }

  .prev {
    order: 1;
  }

  .next {
    order: 3;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 1/2) {

  .countables-grid {
  }

}
