* {
  border: 1px solid black;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.main {
  display: flex;
  position: relative;
  width: 95%;
  height: 95%;
}

.countables {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countables-grid {
  position: relative;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: grid;
}

.control {
    display: flex;
}

.spacer {
  background-color: deepPink;
  width: 100%;
  height: 100%;
}

.apple {
  /* background-image: url('../assets/images/apple.png'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}

.apple img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

@media (orientation: landscape) {
  .main {
    flex-direction: row;
  }

  .countables {
    width: 70%;
  }


  .control {
    width: 30%;
  }

}

@media (orientation: landscape) and (max-aspect-ratio: 16/9) {
  .countables-grid {
    height: 95vh;
    width: 95vh;
  }
}

@media (orientation: landscape) and (min-aspect-ratio: 16/9) {
  .countables-grid {
    height: 95vh;
    width: calc(100vh*4/3);
    max-height: 100%;
  }
}

@media (orientation: portrait) {
  .main {
    flex-direction: column;
  }

  .countables {
    height: 70%;
    order: 2;
  }

  .control {
    height: 30%;
    /* min-height: 10rem; */
    order: 1;
  }

  .countables-grid {
  }
}
@media (orientation: portrait) and (min-aspect-ratio: 9/16){
  .countables-grid {
    height: 80vw;
    width: 80vw;
    max-height: 100%;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 9/16){

}
